/* inserimento colore per h2 */
h2 { color: rgba(207,138,4,255) }


/* inserimento corsivo per h3 */
h3 {font-style: italic;}

/* centramento testo */

h1 { text-align: center;}
div#autore { text-align: center;}

