/* inserimento colore per h2 */
h2 { color: rgba(207,138,4,255) }


/* inserimento corsivo per h3 */
h3 {font-style: italic;}

/* centramento testo */

h1 { text-align: center;}
div#autore { text-align: center;}

/*ridemensioanmento foto e centramento*/
img {max-width: 15%; height: auto;}
img {display: block;margin-left: auto;margin-right: auto;}

/*colore linea inferiore */       
hr { border-top: 1px solid rgb(207,138,4);}
/*colore linea superiore */
hr.l1 { border: 2px solid rgb(207,138,4); }


